body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
header {
background: #333;
color: white;
padding: 1rem;
text-align: center;
}
.contenedor-meses {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 0.8rem;
padding: 1rem;
max-width: 1100px;
margin: 0 auto;
}
.mes {
border: 1px solid #ccc;
padding: 1rem;
border-radius: 12px;
text-align: center;
width: 300px;
background: #fafafa;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.bloque {
margin-bottom: 2rem;
}
h2 {
text-align: center;
margin-top: 2rem;
}
.dias {
margin-top: .5rem;
display: grid;
grid-template-columns: repeat(7, 1fr);
gap: .25rem;
}
.dia {
width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
}

.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  animation: aparecer 0.25s ease-out;
}

@keyframes aparecer {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.fecha-con-tarea {
  background-color: #4da3ff;   /* azul suave */
  color: white !important;
  border-radius: 6px;
  font-weight: bold;
}

.navbar-verde {
    background-color: #404294 !important; /* Verde claro */
}

.navbar-verde .nav-link,
.navbar-verde .navbar-brand {
    color: white !important;
}

.nombre-sitio {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #a8ff60;
    margin: 0;
}